@import '../lib/vars.scss';

.featured {
	padding: 9.28rem 0;
	&__inner{
		display: flex;
		flex-direction: column;
		gap: 8rem;
	}
	&__gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
		
	}

	&__gallery-item {
		
		background-color: $--active;
		padding-bottom: 100%;
	}
}
